<!-- prettier-ignore -->
{% extends 'base.html' %} {% load static %}
{% block sub_title %} 성경 {% endblock sub_title %}
<!-- prettier-ignore -->

{% block contents %}

<style>
  .upside {
    text-align: center;
  }

  .chapter {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-right: 0.5rem;
    font-size: xx-large;
    float: left;
  }

  .box {
    display: flex;
    margin-block-end: 0.3rem;
  }

  .verse_number {
    flex: 0 0 18px;
    padding-top: 0.5rem;
    font-family: "Courier New", Courier, monospace;
    font-size: 10px;
    text-align: center;
  }

  p {
    font-family: Georgia, "Times New Roman", Times, serif;
    flex: 1;
    margin-block-start: 0px;
    margin-block-end: 0rem;
  }
</style>
<h1>성경</h1>

<div class="container-fluid mt-3">
  {% for obj in meta %}
  <div class="btn btn-outline-primary btn-sm p-1 my-1 shadow" data-bs-toggle="tooltip" title="{{ obj.chapter_length }}장"
    onclick="displayText('{{obj.book}}'); displayChapter('{{obj.book}}', {{obj.chapter_length}})">
    {{ obj.full_name }}
    <span class="badge rounded-pill bg-info">{{ obj.chapter_length }}</span>
  </div>
  {% endfor %}
</div>
<div class="container-fluid mt3">
  chapter
  <div id="chapter_space"></div>
</div>
<div class="container-fluid mt3">
  <div id="text_space">
  </div>
</div>



<script type="text/javascript">
  let metaData = {{ meta_data | safe }}
  let bibleData = {{ bible_data | safe }}
  let elText = document.getElementById("text_space")
  let elChapter = document.getElementById("chapter_space")

  function displayText(book, chapter = 0) {
    elText.innerHTML = ""
    const full_name = metaData.find(item => item.fields.book === book)?.fields.full_name;
    elText.innerHTML = `
    <div class="upside">${full_name} ${chapter == 0 ? "전체" : chapter}장</div><hr>`
    // document.createElement('hr')
    if (chapter) { // 장이 있는 경우 각 장
      filtered = bibleData.filter(data => (data.fields.book === book) && (data.fields.chapter == chapter))

      filtered.forEach((data, index) => {
        if (index === 0) {
          const div = document.createElement('div');
          div.classList.add('chapter');
          div.textContent = data.fields.chapter
          elText.append(div)
        }
        generateVerse(data)
      });
    } else { // 장이 없는 경우 전체 장
      filtered = bibleData.filter(data => (data.fields.book === book))

      filtered.forEach((data) => {
        if (data.fields.verse === 1) {
          const div = document.createElement('div');
          div.classList.add('chapter');
          div.textContent = data.fields.chapter
          elText.append(div)
        }
        generateVerse(data)
      });


      // for (const data of bibleData) {
      //   if (data.fields.book === book) {
      //     text = document.createTextNode(`${data.fields.contents}`)
      //     paragrpah = document.createElement('p')
      //     paragrpah.appendChild(text)
      //     elText.appendChild(paragrpah)
      //   }
      // }
    }
  }


  function displayChapter(book, chapter_length) {
    elChapter.innerHTML = ""
    for (let index = 1; index < chapter_length + 1; index++) {
      span = document.createElement('span')
      span.classList.add("btn", "btn-outline-primary", "btn-sm")
      span.append(`${index}`)
      elChapter.appendChild(span)
      span.addEventListener('click', () => {
        console.log('Button clicked!');
        displayText(book, index)
      });
    }
  }

  function generateVerse(data, index) {
    // 박스 생성
    const box = document.createElement('div');
    box.classList.add('box');

    // 절 번호 추가
    const verseNumber = document.createElement('div');
    verseNumber.classList.add('verse_number');
    verseNumber.textContent = data.fields.verse

    // 절 내용 추가
    const verse = document.createElement('p');
    verse.textContent = data.fields.contents

    // 박스에 자식 요소들을 추가
    box.appendChild(verseNumber);
    box.appendChild(verse);

    elText.appendChild(box) // HTML 요소에 추가
  }
</script>
{% endblock contents %}
<!-- Horizontal under breakpoint -->