<!-- prettier-ignore -->
{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore -->
{% block contents %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'bible/css/style.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'bible/css/mcheyne.css' %}"
/>

{% endblock head %}
<div id="main">
  <!-- 제목 -->
  <h2>오늘의 맥체인 성경말씀</h2>

  <!-- 날짜 -->
  <div id="date">
    {{ today_mcheyne.month }}월 {{ today_mcheyne.day }}일
    ({{today_mcheyne.order}}일차)
  </div>

  <!-- 맥체인 파트 리스트 -->
  <div id="part-list">
    <ol>
      {% for part in parts %}
      <li><a href="#part{{ forloop.counter }}">{{part}}</a></li>
      {% endfor %}
    </ol>
  </div>

  <!-- 맥체인 내용 부분 -->
  <div id="mc_container">
    <!-- 파트1 -->
    <hr />
    <div class="part-name" id="part1">part1. {{ today_mcheyne.part1 }}</div>
    <hr />
    {% for item in today_data.0 %} {% if item.verse == 1 %}
    <div class="chapter">{{ item.chapter }}</div>
    {% endif %}
    <div class="box">
      <div class="verse_number">{{ item.verse }}</div>
      <p>{{ item.contents }}</p>
    </div>
    {% endfor %}

    <!-- 파트2 (반복 리팩토링 필요)-->
    <hr />
    <div class="part-name" id="part2">part2. {{ today_mcheyne.part2 }}</div>
    <hr />
    {% for item in today_data.1 %} {% if item.verse == 1 %}
    <div class="chapter">{{ item.chapter }}</div>
    {% endif %}
    <div class="box">
      <div class="verse_number">{{ item.verse }}</div>
      <p>{{ item.contents }}</p>
    </div>
    {% endfor %}

    <!-- 파트3 (반복 리팩토링 필요)-->
    <hr />
    <div class="part-name" id="part3">part3. {{ today_mcheyne.part3 }}</div>
    <hr />
    {% for item in today_data.2 %} {% if item.verse == 1 %}
    <div class="chapter">{{ item.chapter }}</div>
    {% endif %}
    <div class="box">
      <div class="verse_number">{{ item.verse }}</div>
      <p>{{ item.contents }}</p>
    </div>
    {% endfor %}

    <!-- 파트4 (반복 리팩토링 필요)-->
    <hr />
    <div class="part-name" id="part4">part4. {{ today_mcheyne.part4 }}</div>
    <hr />
    {% for item in today_data.3 %} {% if item.verse == 1 %}
    <div class="chapter">{{ item.chapter }}</div>
    {% endif %}
    <div class="box">
      <div class="verse_number">{{ item.verse }}</div>
      <p>{{ item.contents }}</p>
    </div>
    {% endfor %}
  </div>
</div>

<!-- JS 추가 -->
<script type="text/javascript" src="{% static 'bible/js/script.js' %}"></script>

<!-- Title 설정 -->
<script>
  let title = "오늘의 맥체인";
  setNavTitle(title);
</script>

{% endblock contents %}
