{% load static %}
<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <title>성경과 맥체인 : 장원 연습페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'bible/css/main.css'%}" />
    <!-- 부트스트랩 걷어내기 -->
    {% block head %}{% endblock head %}
  </head>

  <body>
    <!-- Navbar -->
    <nav>
      <div class="left-side">
        <div id="nav-title"></div>
      </div>
      <div class="right-side">
        <div id="darkModeIcon">🌙</div>
        <div id="menu-bar"></div>
      </div>
    </nav>
    {% block contents %}{% endblock contents %}
    <script>
      const menu = document.getElementById("menu-bar");
      menu.addEventListener("click", menuHandler);
      function menuHandler() {
        menu.innerHTML = "";
        let div = document.createElement("div");
        div.id = "menu-box";
        div.innerHTML = `
        <a href="{% url 'bible:bible' %}">성경</a>
    <a href="{% url 'bible:mcheyne' %}">맥체인</a>
`;
        menu.appendChild(div);
      }
    </script>
  </body>
</html>
