/* nav의 height만큼 상단 여백 주기 */
body {
  margin: 50px 0 0 0;
}

a {
  color: black;
  text-decoration: none;
}

hr {
  margin: 1rem;
  opacity: 0.5;
}
/* 메인 좌우 여백 */
#main {
  margin: 0 8px;
}

nav {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  color: #121212;
  background-color: #ededed;
  position: fixed;
  font-weight: 16px;
  top: 0;
}

/* 메뉴바 3단 줄 */
#menu-bar {
  margin: 0 20px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAzMCAzMCc+PHBhdGggc3Ryb2tlPSdyZ2JhKDMzLCAzNywgNDEsIDAuNzUpJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1taXRlcmxpbWl0PScxMCcgc3Ryb2tlLXdpZHRoPScyJyBkPSdNNCA3aDIyTTQgMTVoMjJNNCAyM2gyMicvPjwvc3ZnPg==);
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
}

/* 메뉴박스 */
#menu-box {
  font-size: 0.8em;
  display: grid;
  position: fixed;
  padding: 1em;
  top: 40px;
  background-color: #ededed;
  right: 0px;
  line-height: 200%;
}

